<!-- <style>
    .projects {
        color: grey;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

    }
</style> -->

<div class="projects">
    <h1>
        Projects
        <ul>
            <li>
                Project 1 Description
                <youtube-player videoId="BHACKCNDMW8" suggestedQuality="highres" [height]="250" [width]="500">
                </youtube-player>
            </li>
            <li>
                <youtube-player videoId="ZTZPOAdxJao" suggestedQuality="highres" [height]="250" [width]="500">
                </youtube-player>
                Project 2 Description
            </li>
            <li>
                Project 3 Description
            </li>
            <youtube-player videoId="7Cp86xlxaak" suggestedQuality="highres" [height]="250" [width]="500">
            </youtube-player>
        </ul>
    </h1>
</div>